xcuserdata/
*.xcuserdatad
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.app
*.xctest
*.framework
*.dSYM
*.dSYM.zip
.build/
Packages/
Package.pins
Package.resolved
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
.DS_Store
*.swp
